#Ignore Files Server
.vagrant
ubuntu-xenial-16.04-cloudimg-console.log

# Ignore OS Related/Generic
Thumbs.db
Desktop.ini
._*
Icon?
.DS_Store
*.bak
*.tmproj
*.tmproject
*~

# IDEs project files/settings
nbproject/
nbactions.xml
.settings/
.project
.metadata
.properties

# Ignore Bonfire Application Specifics
webroot/application/logs/*
!webroot/application/logs/index.html
webroot/install/logs/*
webroot/application/cache/*
!webroot/application/cache/index.html
webroot/public/assets/cache/*
!webroot/public/assets/cache/index.html

# Ignore Custom config files
webroot/application/config/development/*
webroot/application/config/testing/*
webroot/application/config/production/*
webroot/application/config/installed.txt

# but leave the config folders there
!webroot/application/config/development/index.html
!webroot/application/config/testing/index.html
!webroot/application/config/production/index.html

# Helping GUIs omiting subtree repos
webroot/bonfire/modules/**/.git/*
webroot/bonfire/modules/**/.hg/*
webroot/application/modules/**/.git/*
webroot/application/modules/**/.hg/*
!webroot/application/modules/index.html


# Ignore all custom modules.
webroot/application/modules/*
# Except the following modules:

# Remove PHPStorm Project folders
webroot/bonfire/.ideas
.idea/*

# Ignore the installed.txt file
webroot/public/install/installed.txt

# Ignore any composer downloaded packages
webroot/vendor/*

# Ignore any sparks that have been loaded
webroot/sparks/*
